<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <!-- Import Properties Configuration -->
    <import resource="classpath:/myjavaee-properties.xml"/>

    <!-- Import Remoting Configuration -->
    <import resource="classpath:/myjavaee-remoting-soap-jaxws.xml"/>
    <import resource="classpath:/myjavaee-remoting-rest-jaxrs.xml"/>
    <!-- <import resource="classpath:/myjavaee-remoting-rpc-dubbo.xml" /> -->
    <import resource="classpath:/myjavaee-remoting-rpc-hessian.xml"/>
    <!--<import resource="classpath:/myjavaee-remoting-rpc-rmi.xml" />-->

    <!-- Import Database Configuration -->
    <import resource="classpath:/myjavaee-database-mybatis.xml"/>
    <import resource="classpath:/myjavaee-database-hibernate.xml"/>
    <import resource="classpath:/myjavaee-database-jta.xml"/>
    <import resource="classpath:/myjavaee-database-hbase.xml"/>
    <import resource="classpath:/myjavaee-database-mongodb.xml"/>
    <!--<import resource="classpath:myjavaee-database-cassandra.xml" />-->

    <!-- Import Cache Configuration -->
    <import resource="classpath:/myjavaee-cache-couchbase.xml"/>
    <import resource="classpath:/myjavaee-cache-memcached.xml"/>
    <import resource="classpath:/myjavaee-cache-redis.xml"/>

    <!-- Import Search Configuration -->
    <import resource="classpath:/myjavaee-search-elastic.xml"/>
    <!--<import resource="classpath:/myjavaee-search-solr.xml"/>-->

    <!-- Import Messaging Configuration -->
    <!--<import resource="classpath:/myjavaee-messaging-activemq.xml" />-->
    <!--<import resource="classpath:/myjavaee-messaging-kafka.xml"/>-->

    <!-- Import Distribute Configuration -->
    <import resource="classpath:/myjavaee-distribute-zookeeper.xml"/>

    <!-- Import Schedule Configuration -->
    <import resource="classpath:/myjavaee-schedule-quartz.xml"/>

    <!-- Import Email Configuration -->
    <import resource="classpath:/myjavaee-email-javamail.xml"/>

    <!-- Import Validation Configuration -->
    <import resource="classpath:/myjavaee-validation-beanval.xml"/>


</beans>
  