<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<!-- Import Base Configuration -->
	<import resource="classpath:/spring/myjavaee-base.xml" />

	<!-- Import Database Configuration -->
	<import resource="classpath:/database/rdbms/hibernate/myjavaee-dao-hibernate.xml" />
	<import resource="classpath:/database/rdbms/mybatis/myjavaee-dao-mybatis.xml" />
	<import resource="classpath:/database/rdbms/jta/myjavaee-dao-jta.xml" />
	<import resource="classpath:/database/nosql/cassandra/myjavaee-dao-cassandra.xml" />
	<import resource="classpath:/database/nosql/mongodb/myjavaee-dao-mongodb.xml" />

	<!-- Import Messaging Configuration -->
	<import resource="classpath:/messaging/activemq/myjavaee-messaging-activemq.xml" />

	<!-- Import Cache Configuration -->
	<import resource="classpath:/cache/memcached/myjavaee-cache-memcached.xml" />
	<import resource="classpath:/cache/redis/myjavaee-cache-redis.xml" />

	<!-- Import Web Service Configuration -->
	<import resource="classpath:/webservice/myjavaee-jaxws-server.xml" />
	<import resource="classpath:/webservice/myjavaee-jaxrs-server.xml" />

	<!-- Import Mail Configuration -->
	<import resource="classpath:/email/myjavaee-email.xml" />

	<!-- Import Validation Configuration -->
	<import resource="classpath:/validation/myjavaee-validation.xml" />

	<!-- Import Schedule Configuration -->
	<import resource="classpath:/schedule/quartz/myjavaee-schedule-quartz.xml" />

</beans>
  